---
interface Props {
    title: string;
    description: string;
    price: string;
}
const { title, description, price } = Astro.props;
---

<li class="bg-theme-surface-1 text-theme-on-surface-1 p-6 rounded-lg shadow-md transition hover:shadow-lg duration-[var(--theme-transition)]">
    <h3 class="text-theme-on-bg text-xl font-semibold mb-4">{title}</h3>
    <p class="mb-4">{description}</p>
    <div class="text-theme-primary text-lg font-bold">{price}</div>
</li>

<style>
    /* Aquí puedes agregar estilos específicos para este componente si es necesario */
</style>
