---
import Layout from '../layouts/Layout.astro';
import LayoutHeader from '../layouts/LayoutHeader.astro';
import LayoutFooter from '../layouts/LayoutFooter.astro';

import ServiceCard from '../components/ServiceCard/ServiceCard.astro';
import PortFolioItem from '../components/PortFolioItem/PortFolioItem.astro';
import Testimonial from '../components/Testimonial/Testimonial.astro';






---

<script>

document.addEventListener("DOMContentLoaded", function() {
    const sections = document.querySelectorAll('section[data-theme]');
    const nav = document.querySelector('.fixed');
    const logo = document.querySelector('.logo');
    const menu = nav.querySelector('a');

    const checkSection = () => {
    sections.forEach(section => {
        const rect = section.getBoundingClientRect();
        const triggerPoint = window.innerHeight * 0.1;
        if (rect.top <= triggerPoint && rect.bottom >= triggerPoint) {
            const theme = section.getAttribute('data-theme');

            // Establece la transición antes de cambiar el estilo
            logo.style.transition = 'fill 0.3s ease';
            menu.style.transition = 'color 0.3s ease';
            nav.style.transition = 'background 0.3s ease, background-image 0.3s ease, border-bottom 0.3s ease';

            switch (theme) {
                case 'white':
                    logo.style.fill = 'black';
                    menu.style.color = 'black';
                    nav.style.background = 'white';
                    nav.style.borderBottom = '1px solid black'; 
                    break;
                case 'orange':
                    logo.style.fill = '#042f2e';
                    menu.style.color = '#042f2e';
                    nav.style.background = '#fed7aa';
                    nav.style.borderBottom = '1px solid #042f2e'; 
                    break;
                case 'green':
                    logo.style.fill = '#fed7aa';
                    menu.style.color = '#fed7aa';
                    nav.style.background = '#042f2e';
                    nav.style.borderBottom = '1px solid #fed7aa'; 
                    break;
                case 'black':
                    logo.style.fill = 'white';
                    menu.style.color = 'white';
                    nav.style.background = 'black';
                    nav.style.borderBottom = '1px solid white'; 
                    break;
                case 'grey':
                    logo.style.fill = '#042f2e';
                    menu.style.color = '#042f2e';
                    nav.style.background = '#e5e7eb';
                    nav.style.backgroundImage = 'linear-gradient(0deg, rgba(0,0,0,0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px)';
                    nav.style.backgroundSize = '10px 10px';
                    nav.style.borderBottom = '1px solid #042f2e'; 
            }
        }
    });
};


    window.addEventListener('scroll', checkSection);
    checkSection(); 
});

</script>

<Layout title="Inicio">
  <LayoutHeader />
  <section data-theme="black" class="bg-black text-gray-200 px-14 py-12 text-center">
    <div class="container mx-auto">
      <h1 class="text-5xl font-bold font-serif mb-20">La importancia de tener una web</h1>
      <ul class="grid grid-cols-2 gap-x-8 text-green-300 mb-8">
        <li class=" list-none rounded-md bg-green-950/50 text-center font-sans ring-1 ring-green-300 py-7 px-4 mb-8"><div class="text-7xl font-bold font-sans mb-5">97<span class="text-xl"> %</span></div><span class="text-white text-lg w-full block font-thin">Buscan negocios locales antes de salir a comprar</span><a href="https://www.google.es" class=" text-xs font-thin">google.es</a></li>
        <li class=" list-none rounded-md bg-green-950/50 text-center font-sans ring-1 ring-green-300 py-7 px-4 mb-8"><div class="text-7xl font-bold font-sans mb-5">84<span class="text-xl"> %</span></div><span class="text-white text-lg w-full block font-thin">Consiederan mas creible y fiable un negocio con web</span><a href="https://www.verisign.es" class=" text-xs font-thin">verisign.es</a></li>
        <li class=" list-none rounded-md bg-green-950/50 text-center font-sans ring-1 ring-green-300 py-7 px-4 mb-8"><div class="text-7xl font-bold font-sans mb-5">29<span class="text-xl"> %</span></div><span class="text-white text-lg w-full block font-thin">No harían negocios con empresas sin web</span><a href="https://www.clutch.es" class=" text-xs font-thin">clutch.es</a></li>
        <li class=" list-none rounded-md bg-green-950/50 text-center font-sans ring-1 ring-green-300 py-7 px-4 mb-8"><div class="text-7xl font-bold font-sans mb-5">3<span class="text-xl"> X</span></div><span class="text-white text-lg w-full block font-thin">Clientes potenciales a partir de una web</span><a href="https://www.hubspot.es" class=" text-xs font-thin">hubspot.es</a></li>
      </ul>
      <p class="text-xl font-thin">Tu presencia en línea es más crucial que nunca en el mundo digital de hoy</p>
    </div>
  </section>

  <section data-theme="green" class=" bg-teal-950 text-gray-200 px-14 py-12 text-left">
    <div class="container mx-auto font-thin">
      <h1 class="text-6xl font-bold font-serif mb-8">¿Por qué con WebSafor?</h1>
      <p class="text-xl mb-6">En WebSafor, entendemos la importancia de tener un sitio web que no solo se vea bien, sino que sea capaz de generar clientes para el negocio.</p>
      <p class="text-xl mb-6">Especializados en diseño web y gráfico, nos dedicamos a transformar tus ideas en realidades digitales impactantes.</p>
    </div>
  </section>

  <section data-theme="orange" class="py-12 px-10 bg-orange-200">
    <div class="container mx-auto text-center">
      <h2 class="text-6xl font-bold font-serif mb-14">Estos son algunos de nuestros últimos trabajos</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <PortFolioItem imageUrl="public/img/liralashes.png" title="Lira Lashes" subtitle="Extensiones de Pestañas en Gandía" type="Web de Servicios" link="liralashes.com"/>
        <PortFolioItem imageUrl="public/img/solycoco.png" title="Soly Cocó" subtitle="Portal de información de playas" type="Blog de noticias" link="solycoco.com"/>
        <PortFolioItem imageUrl="public/img/gestionisabelhita.png" title="Gestión Isabel Hita" subtitle="Gestión de empresas y fincas en Xeraco" type="Landing Page" link="gestionisabelhita.com"/>
      </div>
    </div>
  </section>

  <section data-theme="white" class="bg-white text-black px-14 py-12 text-left">
    <div class="container mx-auto">
        <h2 class="text-6xl font-bold font-serif mb-20">Descubre todos nuestros Servicios</h2>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 text-gray-950 mb-8">
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-code"></i></div>
                <span class="text-black text-lg w-full block font-medium">Desarrollo Web</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Creación de sitios web personalizados y optimizados para tu negocio.</p>
            </li>
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-mobile-alt"></i></div>
                <span class="text-black text-lg w-full block font-medium">Diseño Responsivo</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Diseños que se adaptan a cualquier dispositivo, desde móviles hasta ordenadores.</p>
            </li>
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-store"></i></div>
                <span class="text-black text-lg w-full block font-medium">E-commerce</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Soluciones de comercio electrónico para impulsar tus ventas en línea.</p>
            </li>
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-search"></i></div>
                <span class="text-black text-lg w-full block font-medium">SEO</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Optimización para motores de búsqueda para mejorar tu visibilidad en línea.</p>
            </li>
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-paint-brush"></i></div>
                <span class="text-black text-lg w-full block font-medium">Diseño Gráfico</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Creación de logotipos, banners y todo lo que necesitas para tu marca.</p>
            </li>
            <li class="list-none bg-gray-200/50 shadow-md hover:shadow-lg rounded-md text-center font-sans py-7 px-4 mb-8">
                <div class="text-4xl font-bold font-sans mb-5"><i class="fas fa-chart-line"></i></div>
                <span class="text-black text-lg w-full block font-medium">Analítica Web</span>
                <p class="text-black text-lg w-full block font-thin mt-2">Análisis y seguimiento del tráfico y comportamiento de los usuarios en tu sitio web.</p>
            </li>
        </ul>
    </div>
  </section>

  <section data-theme="grey" class="bg-gray-200 text-black px-14 py-12 text-right bg-grid-pattern bg-10px">
    <div class="container mx-auto">
        <h2 class="text-6xl font-bold font-serif mb-20">Ejemplos de distintos tipos de webs</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-center">

            <!-- Sitio Web Corporativo -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">Logo</div>
                    <div class="absolute bottom-5 left-5 text-black text-xs bg-gray-400 p-1 rounded">Inicio</div>
                    <div class="absolute bottom-5 center-5 text-black text-xs bg-gray-400 p-1 rounded">Servicios</div>
                    <div class="absolute bottom-5 right-5 text-black text-xs bg-gray-400 p-1 rounded">Contacto</div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">Sitio Web Corporativo</h3>
                <p class="text-black text-sm">Diseñado principalmente para empresas, proporciona información sobre la organización y sus servicios o productos.</p>
            </div>

            <!-- Blog -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">Blog Nombre</div>
                    <div class="absolute top-20 left-5 text-black text-xs bg-gray-500 p-1 rounded">"Título del último post"</div>
                    <div class="absolute bottom-5 left-5 text-black text-xs bg-gray-400 p-1 rounded">Categorías</div>
                    <div class="absolute bottom-5 right-5 text-black text-xs bg-gray-400 p-1 rounded">Suscribirse</div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">Blog</h3>
                <p class="text-black text-sm">Un sitio web personal o corporativo que contiene entradas de contenido, artículos o publicaciones, generalmente en orden cronológico.</p>
            </div>

            <!-- E-commerce -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">Tienda</div>
                    <div class="absolute top-20 left-5 text-black text-xs bg-gray-500 p-1 rounded">Producto 1 <i class="fas fa-tag"></i></div>
                    <div class="absolute top-20 right-5 text-black text-xs bg-gray-500 p-1 rounded">Producto 2 <i class="fas fa-tag"></i></div>
                    <div class="absolute bottom-5 center-5 text-black text-xs bg-gray-400 p-1 rounded">Carrito <i class="fas fa-shopping-cart"></i></div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">E-commerce</h3>
                <p class="text-black text-sm">Sitio web diseñado para la venta de productos o servicios en línea, incluyendo carritos de compra y métodos de pago.</p>
            </div>

            <!-- Portafolio -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">Mi Portafolio</div>
                    <div class="absolute top-20 left-5 text-black text-xs bg-gray-500 p-1 rounded">Proyecto 1 <i class="fas fa-image"></i></div>
                    <div class="absolute top-20 right-5 text-black text-xs bg-gray-500 p-1 rounded">Proyecto 2 <i class="fas fa-image"></i></div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">Portafolio</h3>
                <p class="text-black text-sm">Utilizado por creativos y profesionales para mostrar su trabajo y habilidades a posibles clientes o empleadores.</p>
            </div>

            <!-- Sitio Web Informativo -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">InfoWeb</div>
                    <div class="absolute top-20 left-5 text-black text-xs bg-gray-500 p-1 rounded">Artículo 1 <i class="fas fa-newspaper"></i></div>
                    <div class="absolute top-40 left-5 text-black text-xs bg-gray-500 p-1 rounded">Artículo 2 <i class="fas fa-newspaper"></i></div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">Sitio Web Informativo</h3>
                <p class="text-black text-sm">Diseñado para proporcionar información detallada sobre un tema específico, como noticias, investigación o educación.</p>
            </div>

            <!-- Landing Page -->
            <div class="rounded-md bg-white p-4 shadow-md hover:shadow-lg">
                <div class="relative bg-gray-300 h-60 mb-4">
                    <div class="absolute top-5 left-5 text-black bg-gray-400 p-1 rounded">PromoWeb</div>
                    <div class="absolute center-5 text-black text-xs bg-gray-500 p-1 rounded">¡Regístrate ahora! <i class="fas fa-arrow-right"></i></div>
                </div>
                <h3 class="text-black text-xl font-bold mb-4">Landing Page</h3>
                <p class="text-black text-sm">Página única diseñada para una campaña de marketing específica, con el objetivo de convertir visitantes en clientes o suscriptores.</p>
            </div>

        </div>
    </div>
  </section>

  <section data-theme="orange" class="bg-orange-200 text-white px-14 py-12 text-left">
    <div class="container mx-auto">
        <h2 class="text-6xl font-bold font-serif mb-20">Lo que dicen nuestros clientes</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-gray-200 mb-8">
            
            <!-- Testimonio 1 -->
            <div class="rounded-md bg-teal-900 p-6 shadow-md hover:shadow-lg">
                <p class="text-lg font-thin mb-6">"Desde que trabajamos con WebSafor, nuestro negocio ha crecido exponencialmente. Su profesionalismo y dedicación son inigualables."</p>
                <div class="flex items-center">
                    <img src="../../public/img/juan-ramon.png" alt="Cliente 1" class="w-12 h-12 rounded-full mr-4">
                    <div>
                        <h4 class="text-xl font-bold">Juan Pérez</h4>
                        <span class="text-sm font-thin">CEO, Empresa X</span>
                    </div>
                </div>
            </div>

            <!-- Testimonio 2 -->
            <div class="rounded-md bg-teal-900 p-6 shadow-md hover:shadow-lg">
                <p class="text-lg font-thin mb-6">"WebSafor transformó nuestra visión en una realidad digital. Estamos más que satisfechos con los resultados."</p>
                <div class="flex items-center">
                    <img src="../../public/img/juan-ramon.png" alt="Cliente 2" class="w-12 h-12 rounded-full mr-4">
                    <div>
                        <h4 class="text-xl font-bold">María Rodríguez</h4>
                        <span class="text-sm font-thin">Fundadora, Negocio Y</span>
                    </div>
                </div>
            </div>

            <!-- Testimonio 3 -->
            <div class="rounded-md bg-teal-900 p-6 shadow-md hover:shadow-lg">
                <p class="text-lg font-thin mb-6">"El equipo de WebSafor es increíblemente talentoso y dedicado. Nuestra web nunca ha lucido mejor."</p>
                <div class="flex items-center">
                    <img src="../../public/img/juan-ramon.png" alt="Cliente 3" class="w-12 h-12 rounded-full mr-4">
                    <div>
                        <h4 class="text-xl font-bold">Luis Álvarez</h4>
                        <span class="text-sm font-thin">Manager, Compañía Z</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-theme="white" class="bg-white text-black px-14 py-12 text-center">
  <div class="container mx-auto">
      <h2 class="text-5xl font-bold font-serif mb-20">Contáctanos</h2>
      <p class="text-xl font-thin mb-10">¿Tienes alguna pregunta o quieres trabajar con nosotros? ¡Nos encantaría escuchar de ti!</p>
      
      <form action="/ruta-del-procesador-del-formulario" method="post" class="w-full max-w-lg mx-auto">
          <div class="flex flex-wrap mb-6">
              <div class="relative w-full px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                      Nombre
                  </label>
                  <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="name" type="text" name="name" required>
              </div>
          </div>
          <div class="flex flex-wrap mb-6">
              <div class="relative w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                      Email
                  </label>
                  <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="email" type="email" name="email" required>
              </div>
          </div>
          <div class="flex flex-wrap mb-6">
              <div class="relative w-full px-3">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="message">
                      Mensaje
                  </label>
                  <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white h-32" id="message" name="message" required></textarea>
              </div>
          </div>
          <div class="flex flex-wrap">
              <div class="relative w-full px-3 text-right">
                  <button type="submit" class="bg-teal-950 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                      Enviar
                  </button>
              </div>
          </div>
      </form>
  </div>
</section>

  <LayoutFooter />
</Layout>
