---
import Layout from '../layouts/Layout.astro';
import LayoutHeader from '../layouts/LayoutHeader.astro';
import LayoutFooter from '../layouts/LayoutFooter.astro';

import ServiceCard from '../components/ServiceCard/ServiceCard.astro';
import PortfolioItem from '../components/PortFolioItem/PortFolioItem.astro';
import Testimonial from '../components/Testimonial/Testimonial.astro';

---



<Layout title="Inicio">
  <LayoutHeader />
  <section class="bg-gray-100 py-12">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold mb-8">Bienvenido a WebSafor</h1>
      <p class="text-xl mb-6">Ofrecemos servicios de diseño web y gráfico para autónomos y pymes en la comarca de la Safor.</p>
    </div>
  </section>

  <section class="py-12">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8">Nuestros Servicios</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Aquí puedes iterar sobre tus servicios y renderizar un ServiceCard para cada uno -->
        <ServiceCard title="Servicio 1" description='Este es el primer servicio' price='45 €'/>
        <ServiceCard title="Servicio 1" description='Este es el primer servicio' price='45 €'/>
        <ServiceCard title="Servicio 1" description='Este es el primer servicio' price='45 €'/>
      </div>
    </div>
  </section>

  <section class="bg-gray-100 py-12">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8">Portafolio</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Aquí puedes iterar sobre tus proyectos y renderizar un PortfolioItem para cada uno -->
        <PortfolioItem imageUrl="public/img/liralashes.png" title="Trabajo 1" description="Este fue el primer proyecto" link="liralashes.com"/>
        <PortfolioItem imageUrl="public/img/liralashes.png" title="Trabajo 1" description="Este fue el primer proyecto" link="liralashes.com"/>
        <PortfolioItem imageUrl="public/img/liralashes.png" title="Trabajo 1" description="Este fue el primer proyecto" link="liralashes.com"/>
      </div>
    </div>
  </section>

  <section class="py-12">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-8">Testimonios</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Aquí puedes iterar sobre tus testimonios y renderizar un Testimonial para cada uno -->
        <Testimonial text="Este es el primer testimonio de un cliente" author="Juan Ramón López" position="Ceo en su casa" imageUrl="public/img/juan-ramon.png"/>
        <Testimonial text="Este es el primer testimonio de un cliente" author="Juan Ramón López" position="Ceo en su casa" imageUrl="public/img/juan-ramon.png"/>
        <Testimonial text="Este es el primer testimonio de un cliente" author="Juan Ramón López" position="Ceo en su casa" imageUrl="public/img/juan-ramon.png"/>
      </div>
    </div>
  </section>
  <LayoutFooter />
</Layout>
