---
import Logo from "../Generic/Logo.astro"
import {} from "../../styleConstants.js";

const styleConstants = [].join(' ');

---

<section id="sticky-header" class=" hidden bg-opacity-0 transition-all duration-300 justify-between items-center h-20 fixed top-0 left-0 w-full bg-white z-50 border-b-[1px] border-b-black">

    <Logo classes="block w-16 ml-8"/>

    <a href="/" class="mr-4 font-thin text-4xl">
        +
    </a>
</section>
<script>

document.addEventListener('DOMContentLoaded', function() {

const stickyHeader = document.getElementById('sticky-header');
const secondSection = document.getElementById('second-section');

window.addEventListener('scroll', function() {
    if (window.scrollY >= secondSection.offsetTop) {
        stickyHeader.style.display = 'flex';
    } else {
        stickyHeader.style.display = 'none';
    }
});

});

</script>

