---
import Logo from "../Generic/Logo.astro"
import {



} from "../../styleConstants.js";

const styleConstants = [

    

].join(' ');

---

<section class=" bg-opacity-0 flex justify-between items-center h-20 fixed top-0 left-0 w-full bg-white z-50 border-b-[1px] border-b-black">

    <Logo />

    <a href="/" class="mr-4 font-thin text-4xl">
        +
    </a>
</section>

