---

import {



} from "../../styleConstants.js";

const styleConstants = [

    

].join(' ');

---

<section class="flex justify-between items-center h-20 border-black border-b-[1px] fixed top-0 left-0 w-full bg-white z-50">
    <a href="/" class="ml-4">
        <img src="public/img/logo.png" alt="WebSafor Logo" class="h-16 w-auto"/>
    </a>

    <a href="/" class="mr-4">
        Menu
    </a>
</section>

