---

---

<section id="contacto" data-theme="white" class="bg-white text-black px-14 py-12 text-center">
    <div class="container mx-auto">
        <h2 class="text-5xl font-bold font-serif mb-10">¡Hablemos!</h2>
        <p class="text-2xl font-medium mb-8">Estamos aquí para ayudarte a llevar tu negocio al siguiente nivel.</p>
        <p class="text-xl font-thin mb-10">Llámanos o envíanos un WhatsApp al <span class="font-semibold">686 18 43 28</span> o escríbenos a <a href="mailto:info@websafor.com" class="underline font-semibold">info@websafor.com</a>.</p>
  
        <div class="mt-6">
          <button id="emailButton" class="w-full text-center py-4 bg-gray-3 mb-4 rounded-lg mr-2">Llamar</button>
          <button id="whatsappButton" class="w-full text-center py-4 bg-green-600 text-white rounded-lg">Enviar WhatsApp</button>
      </div>
        
        <div class="border-t border-gray-300 mt-10 pt-10">
            <p class="text-xl font-medium mb-6">O si lo prefieres, déjanos tus datos y te contactaremos</p>
            <form action="/ruta-del-procesador-del-formulario" method="post" class="w-full max-w-lg mx-auto">
                <div class="flex flex-wrap mb-6">
                    <div class="relative w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                            Nombre
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="name" type="text" name="name" required>
                    </div>
                </div>
                <div class="flex flex-wrap mb-6">
                    <div class="relative w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                            Email
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="email" type="email" name="email" required>
                    </div>
                </div>
                <div class="flex flex-wrap mb-6">
                    <div class="relative w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="message">
                            Mensaje
                        </label>
                        <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white h-32" id="message" name="message" required></textarea>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="relative w-full px-3 text-right">
                        <button type="submit" class="bg-teal-900 hover:bg-teal-700 text-white font-bold w-full text-center py-4 rounded-lg">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </section>