---
import ButtonCTA from "../components/Generic/ButtonCTA.astro";
import FullText from "../components/Generic/FullText.astro";
import StickyHeaderBar from "../components/Header/StickyHeaderBar.astro";

import {



} from "../../styleConstants.js";

const styleConstants = [



].join(' ');
---

<header class="bg-theme-surface-2 text-theme-on-surface-2 py-6">
    <div class="container mx-auto px-[var(--container-padding)] max-w-[var(--container-max-width)] flex flex-col items-center justify-center space-y-4">
        <!-- TopHeaderBar -->
        <StickyHeaderBar />

        <!-- Slogan -->
        <FullText side="right" text='Consigue más clientes con tu propia web'/>

        <!-- Botón CTA presupuesto -->
        <ButtonCTA text="Consigue un presupuesto gratuito" link="#SolicitaPresupuesto" />

    </div>
</header>
