---

import {

} from "../styleConstants.js";

const styleConstants = [


].join(' ');

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - WebSafor` : 'WebSafor'}</title>

	</head>
	<body class=" m-0 p-0 ">
		<main class=`container mx-auto`>
			<slot></slot> <!-- Este slot permitirá insertar el contenido de las páginas que utilicen este layout -->
		</main>
	</body>
</html>
