---

import {} from "../../styleConstants.js";
const styleConstants = [].join(' ');

const {title, side, color, bg} = Astro.props;

---

<section class=`w-full p-12 text-${side} text-${color} ${bg}`>

    <h1 class="w-full font-serif text-7xl font-bold mb-4">{title}</h1>

</section>