---

interface Props{
    text: string;
    link: string;
}

const { text, link } = Astro.props;

import {

} from "../../styleConstants.js";

const styleConstants = [

].join(' ');

---

<div>
    <a href={link} class={"p-6 w-full text-center bg-gradient-to-br from-blue-900 to-blue-950 text-white rounded-md text-3xl font-sans font-thin shadow-lg shadow-blue-600 mb-20"}>
        {text}
    </a>
</div>
